[phases.setup]
nixPkgs = ["maven", "jdk21"]

[phases.build]
cmds = ["mvn clean package -DskipTests"]

[phases.start]
cmd = "java -jar target/dependency/webapp-runner.jar --port $PORT target/TrainBook-1.0.0-SNAPSHOT.war"
